#product-table {
  
  width: 80%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  border-radius: 30px;
  border: 1px solid ;
  /* background-color: #caf5f5; */
}

#product-table td,
#product-table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
 /* font-size: 15px; */
}

/* #product-table tr:nth-child(even) {
  background-color: #f2f2f2;
} */

#product-table tr:hover {
  background-color: rgb(192, 183, 183);
  font-size: 25px;
  color:white;
}

#product-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(156, 30, 30);
  color: white;
}

.addbutton {
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  margin: 4px 20px;
  cursor: pointer;
  font-size: 10px;
  /* float: right; */
}
.addbutton:hover{
  background-color: rgb(156, 30, 30);
}

.button {
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 10px;
}

.button1 {
  background-color: rgb(146, 151, 151);
  font-size: 20px;
  border-radius: 10px;
}
.button1:hover{
  background-color: rgb(156, 30, 30);
}
.button2 {
  background-color: rgb(146, 151, 151);
  font-size: 20px;
  border-radius: 10px;
}

.button2:hover{
  background-color: rgb(156, 30, 30);
}

.search-bar{
  width: 20%;
  margin-left: 20px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid rgb(156, 30, 30);
}

#category{
  margin-left:45px;
  width: 15%;
  border-radius: 10px;
  border: 2px solid rgb(156, 30, 30);
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    margin: 0 0 1rem 0;
  }

  tr:nth-child(odd) {
    background: #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
  td:nth-of-type(1):before {
    content: "Name";
  }
  td:nth-of-type(2):before {
    content: "Category";
  }
  td:nth-of-type(3):before {
    content: "Quantity";
  }
  td:nth-of-type(4):before {
    content: "Price";
  }
  td:nth-of-type(5):before {
    content: "InStock";
  }
}
