.addbutton {
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  margin: 4px 20px;
  cursor: pointer;
  font-size: 10px;
}
.addbutton:hover{
  background-color: rgb(156, 30, 30);
}
.button1 {
  background-color: rgb(146, 151, 151);
  font-size: 20px;
  border-radius: 10px;
}
.button1:hover{
  background-color: rgb(156, 30, 30);
  color: black;
}
.search-bar{
  width: 20%;
  margin-left: 20px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid rgb(156, 30, 30);
}

#category{
  margin-left:45px;
  width: 15%;
  border-radius: 10px;
  border: 2px solid rgb(156, 30, 30);
}

.grid{
 
  height: 550px;
  width: auto;
  float:left;
  margin-left: 50px;
  margin-top:50px;
  border: 1px solid black;

}
.btn-edit{
  border-radius:5px;
  font-size: 20px;
  color:white;
  border: 1px solid rgb(156, 30, 30);
  background-color:#949999 ;
  margin-top: auto;
  margin-bottom: auto;
}
.btn-edit:hover{
  background-color: rgb(156, 30, 30);
  color:black;
}
.btn-delete:hover{
  background-color: rgb(156, 30, 30);
  color:black;
}
.btn-delete{
   border-radius:5px;
  font-size: 20px;
  color:white;
  border: 1px solid #c0392b;
  background-color:#949999 ;
  margin-top: auto;
  margin-bottom: auto;

}
